/* ===== COLOR ===== */

.gray {
	background: #b0bec5;
}

.blue {
	background: #3bb6ed;
}

.orange {
	background: #ff9d00;
}

.red {
	background: #db0000;
}

.green {
	background: #33cd5f;
}


/* ===== BREADCRUMB ===== */

ul.breadcrumb {
	margin-top: 15px;
	position: absolute;
	margin-left: 40px;
	color: #ccc;
}

ul.breadcrumb li.active a {
	font-size: 14px;
	color: #434343;
	text-decoration: none;
}

ul.breadcrumb li {
	font-size: 14px;
	color: #989898;
}

.page-title {
	padding: 50px 25px 70px 25px;
	width: 100%;
	color: #fff;
}

.page-title h3 {
	color: #fff;
	margin: 0px;
	margin-bottom: 5px;
}

.page-title p {
	font-size: 14px;
}


/* ===== PANEL ===== */

.table-detail.panel-body {
	padding-bottom: 0px;
}


/* ===== PAGE CONTENT ===== */

.page-content {
	margin-top: -80px;
}

.panel-heading h3.panel-title {
	color: #696969;
}

.panel-heading h5.panel-title {
	padding-top: 30px;
	color: #696969;
	font-size: 20px;
	margin-bottom: 10px;
}

.panel-body .blockquote.gray {
	background: rgba(176, 190, 197, 0.2);
	border-left: 3px solid #b0bec5;
	padding-top: 30px;
	padding-bottom: 30px;
}

.panel-body .blockquote.gray h3 {
	color: #696969;
	margin: 0;
	margin-bottom: 5px;
	font-size: 15px;
}

.panel-body .blockquote.gray p {
	margin: 0;
	font-size: 12px;
	color: #989898;
}


/* ===== TABLE ===== */

.table-full.table-detail {
	margin: 0px -30px;
}

.table-full.table-detail tbody tr td.title {
	color: #696969;
	font-size: 11px;
	font-weight: 600;
	padding-left: 30px;
}

.table-full.table-detail tbody tr td {
	color: #888888;
	font-size: 12px;
	padding-right: 30px;
}

.table-full.table-detail tbody tr:hover {
	background: #f4fcff;
}

.table-full.table-detail tbody tr:last-child {
	border-bottom: 1px solid #e4eaec;
}

.table-full.table-view {
	margin: 0px -30px;
}

.table-full.table-view thead {
	background: #f8f8f8;
}

.table-full.table-view tbody tr:hover {
	background: #f4fcff;
}

.table-full.table-view thead tr th {
	font-size: 11px;
	font-weight: 600;
	padding-top: 15px;
	padding-bottom: 15px;
}

.table-full.table-view thead tr th a i {
	float: right;
	margin-top: 3px;
}

.table-full.table-view thead tr th:first-child {
	padding-left: 30px;
}

.table-full.table-view thead tr th:last-child {
	padding-right: 30px;
	width: 145px;
}

.table-full.table-view tbody tr td {
	font-size: 12px;
	vertical-align: middle
}

.table-full.table-view tbody tr td:first-child {
	padding-left: 30px;
}

.table-full.table-view tbody tr td:last-child {
	padding-right: 30px;
}

.table-full.table-view tbody tr:last-child {
	border-bottom: 1px solid #e4eaec;
}

a.btn-update {
	text-decoration: none
}

a.btn-detail {
	text-decoration: none
}

a.btn-delete {
	text-decoration: none
}

.btn-update i,
.btn-delete i,
.btn-detail i {
	padding-top: 8px;
	width: 30px;
	height: 30px;
	background: transparent;
	color: #62a8ea;
	border-radius: 100%;
}

.btn-update i:hover,
.btn-detail i:hover,
.btn-delete i:hover {
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	background: #62a8ea;
	color: #fff;
}

.table-responsive {
	border-top: 0
}

.navigation-view {
	width: 100%;
	height: 55px;
	padding: 0px 30px;
}

.entry {
	float: left;
}

.input-entry {
	width: 60px;
	float: left;
}

.label-entry-left {
	float: left;
	font-size: 11px;
	font-weight: 600;
	color: #696969;
	margin-right: 10px;
	padding-top: 8px;
}

.label-entry-right {
	float: right;
	font-size: 11px;
	font-weight: 600;
	color: #696969;
	margin-left: 10px;
	padding-top: 8px;
}

.search {
	width: 25%;
	float: right;
}

.wrapper {
	padding: 0px 20px 30px 20px;
	margin-top: 5px;
}

.total {
	text-align: left;
	float: left;
	font-size: 11px;
	color: #696969;
	font-weight: 600;
	margin-top: 7px;
}

.paging {
	text-align: right;
	float: right;
	margin-top: -22px;
}

.pagination > li > a,
.pagination > li > span {
	font-size: 11px;
	padding: 6px 12px;
}

.img-ripple img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}


/* ===== BUTTON ===== */

.site-action.btn.blue {
	background: #3bb6ed;
	color: #fff;
}

.site-action.btn.blue:hover {
	background: rgba(59, 182, 237, 0.85);
	color: #fff;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.site-action.btn.red {
	background: #db0000;
	color: #ffffff;
}

.site-action.btn.red:hover {
	background: rgba(254, 0, 0, 0.85);
	color: #fff;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.site-action.btn.orange {
	background: #ff9d00;
	color: #fff;
}

.site-action.btn.orange:hover {
	background: rgba(255, 157, 0, 0.85);
	color: #fff;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.site-action.btn.green {
	background: rgba(51, 205, 95, 1);
	color: #fff;
}

.site-action.btn.green:hover {
	background: rgba(51, 205, 95, 0.85);
	color: #fff;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}


/* ===== PAGE CONTENT LEFT ===== */

.page-content-left {
	margin-top: 220px;
}

.page-content-left h3 {
	margin: 0px;
	font-size: 20px;
	margin-bottom: 20px;
}

.page-content-left p {
	font-size: 13px;
	margin-bottom: 50px;
}

.page-content-left a {
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	color: #696969;
}

.page-content-left a .button {
	border-bottom: 1px solid #dddddd;
	margin-bottom: 30px;
	padding-bottom: 10px;
}

.page-content-left a:hover {
	color: rgb(38, 38, 38);
}

.page-content-left a .button button {
	margin-top: -15px;
	color: #fff;
	float: right;
}


/* ===== Footer ===== */

.site-footer-right {
	font-size: 10px;
	margin-top: 5px;
}


/* ===== Form ===== */

.help-inline {
	color: #f96868;
	font-size: 12px;
}

.form-material.form-group .ng-invalid.ng-dirty.form-control:focus,
.form-material.form-group .ng-invalid.ng-dirty.form-control.focus,
.form-material.form-group .ng-invalid.ng-dirty.form-control:not(.empty) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f96868), to(#f96868)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
	background-image: -webkit-linear-gradient(#f96868, #f96868), -webkit-linear-gradient(#e4eaec, #e4eaec);
	background-image: -o-linear-gradient(#f96868, #f96868), -o-linear-gradient(#e4eaec, #e4eaec);
	background-image: linear-gradient(#f96868, #f96868), linear-gradient(#e4eaec, #e4eaec);
}

.form-material.form-group .ng-valid.ng-dirty.form-control:focus,
.form-material.form-group .ng-valid.ng-dirty.form-control.focus,
.form-material.form-group .ng-valid.ng-dirty.form-control:not(.empty) {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#46be8a), to(#46be8a)), -webkit-gradient(linear, left top, left bottom, from(#e4eaec), to(#e4eaec));
	background-image: -webkit-linear-gradient(#46be8a, #46be8a), -webkit-linear-gradient(#e4eaec, #e4eaec);
	background-image: -o-linear-gradient(#46be8a, #46be8a), -o-linear-gradient(#e4eaec, #e4eaec);
	background-image: linear-gradient(#46be8a, #46be8a), linear-gradient(#e4eaec, #e4eaec);
}

@media (max-width: 991px) {
	.page-content-left {
		margin-top: 100px;
	}
}

@media (max-width: 768px) {
	ul.breadcrumb {
		display: none;
	}
	.table-full.table-detail {
		margin: 0px;
	}
	.table-full.table-view {
		margin: 0px;
	}
	.search {
		width: 100%;
		float: none;
	}
	.navigation-view {
		margin-bottom: 35px;
		width: 100%;
	}
	.entry {
		float: none;
		width: 150px;
		margin-bottom: 10px
	}
	.input-entry {
		float: none;
	}
	.wrapper {
		padding: 0px 20px 30px 20px;
		margin-top: 5px;
	}
	.total {
		text-align: center;
		float: none;
		margin-bottom: 0px;
	}
	.paging {
		text-align: center;
		float: none;
		margin-bottom: -20px;
	}
}

@media (max-width: 478px) {
	.table-full.table-detail {
		margin: 0px;
	}
	.table-full.table-view {
		margin: 0px;
	}
	.label-entry-left {
		display: none
	}
	.entry {
		width: 110px;
	}
}

.detail-img img {
	height: 140px;
}

canvas {
	height: 100px;
}

.pages {
height: 5000px;	
}