<div layout-navbar></div>
<div layout-sidemenu></div>

<div class="page">
	<div layout-pagetitle></div>

	<div class="page-content container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="page-content-left">
					<h3>Aksi {{ title }}</h3>
					<p>Aksi yang terdapat pada {{ title }}:</p>
					<a href="#/user" ng-class="'{{ color }}'">
						<div class="button">
							<span>View Data</span>
							<button ng-class="'{{ color }}'" class="btn-raised btn btn-sm btn-floating" type="button">
								<i class="icon wb-eye" aria-hidden="true"></i>
							</button>
						</div>
					</a>
					<a ng-click="delete(data);" ng-class="'{{ color }}'" href="">
						<div class="button">
							<span>Delete Data</span>
							<button class="btn-raised btn btn-sm btn-floating red" type="button">
								<i class="icon wb-trash" aria-hidden="true"></i>
							</button>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel">
					<div class="panel-heading">
						<h5 class="panel-title">{{ action }} {{ pagetitle }}</h5>
					</div>
					<div class="panel-body container-fluid table-detail">
						<div class="table-full table-detail">
							<div class="table-responsive">
								<table class="table table-hover">
									<tbody ng-repeat="data in user">
										<tr>
											<td class="title" width=200>User Id</td>
											<td>{{ data.user_id }}</td>
										</tr>
										<tr>
											<td class="title">Nama</td>
											<td>{{ data.user_nama }}</td>
										</tr>
										<tr>
											<td class="title">Username</td>
											<td>{{ data.username }}</td>
										</tr>
										<tr>
											<td class="title">Foto</td>
											<td class="detail-img"><img src="../frontend/www/img/user/{{ data.user_foto }}"></td>
										</tr>
										<tr>
											<td class="title">User Post</td>
											<td>{{ data.user_post }}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#/user">
		<button ng-class="'{{ color }}'" class="site-action btn-raised btn btn-sm btn-floating" type="button">
			<i class="icon wb-eye" aria-hidden="true"></i>
		</button>
	</a>
</div>
<div layout-footer></div>