<div layout-navbar></div>
<div layout-sidemenu></div>

<div class="page">
	<div layout-pagetitle></div>

	<div class="page-content container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="page-content-left">
					<h3>Aksi {{ title }}</h3>
					<p>Aksi yang terdapat pada {{ title }}:</p>
					<a href="#/kategori/addkategori" ng-class="'{{ color }}'">
						<div class="button">
							<span>Add Data</span>
							<button ng-class="'{{ color }}'" class="btn-raised btn btn-sm btn-floating" type="button">
								<i class="icon wb-plus" aria-hidden="true"></i>
							</button>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel">
					<div class="panel-heading">
						<h5 class="panel-title">{{ action }} {{ pagetitle }}</h5>
					</div>
					<div class="panel-body container-fluid table-detail">
						<div class="table-full table-view">
							<div class="navigation-view">
								<div class="form-group form-material entry">
									<span class="label-entry-left">Show</span>
									<span class="label-entry-right">Record</span>
									<select ng-model="entryLimit" class="form-control input-sm input-entry" id="select">
										<option>5</option>
										<option>10</option>
										<option>20</option>
										<option>50</option>
										<option>100</option>
									</select>

								</div>
								<div class="form-group form-material search">

									<input ng-model="search" ng-change="filter()" type="text" class="form-control input-sm" id="inputText" name="inputText" placeholder="Search" />
								</div>
							</div>
							<div class="table-responsive">
								<table class="table table-hover" ng-show="filteredItems > 0">
									<thead ng-class="'{{ breadcrumbcolor }}'">
										<th>No</th>
										<th>Nama <a href="" ng-click="sort_by('kategori_nama');"><i class="fa fa-sort"></i></a></th>
										<th>Icon <a href="" ng-click="sort_by('kategori_icon');"><i class="fa fa-sort"></i></a></th>
										<th>Warna Icon <a href="" ng-click="sort_by('kategori_color');"><i class="fa fa-sort"></i></a></th>
										<th class="text-center">Tanggal <a href="" ng-click="sort_by('kategori_post');"><i class="fa fa-sort"></i></a></th>
										<th class="text-center">Aksi</th>
									</thead>
									<tbody>
										<tr ng-repeat="data in filtered = (kategori | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
											<div ng-repeat="no in no(1) track by $index">
												<td>{{ $index+1 }}</td>
												<td width="200">{{ data.kategori_nama }}</td>
												<td width="150">{{ data.kategori_icon }}</td>
												<td width="150">{{ data.kategori_color }}</td>
												<td class="text-center" width="120">{{ data.kategori_post }}</td>
												<td class="text-center action">
													<a class="btn-update" href="#/kategori/updatekategori/{{ data.kategori_id }}">
														<i class="icon wb-pencil"></i>
													</a>
													<a class="btn-detail" href="#/kategori/detailkategori/{{ data.kategori_id }}">
														<i class="icon wb-search"></i>
													</a>
													<a class="btn-delete" href="" ng-click="delete(data);">
														<i class="icon wb-trash"></i>
													</a>
												</td>
											</div>
										</tr>
									</tbody>
								</table>
								<table class="table hover" ng-show="filteredItems == 0">
									<tbody>
										<tr>
											<td style="text-align:center">Data Tidak Ditemukan</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="wrapper">
								<div class="paging">
									<a href="">
										<div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;" ng-class="'{{ breadcrumbcolor }}'"></div>
									</a>
								</div>
								<div class="total">Filtered {{ filtered.length }} of {{ totalItems}} Entries</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#/kategori/addkategori">
		<button ng-class="'{{ color }}'" class="site-action btn-raised btn btn-sm btn-floating" type="button">
			<i class="icon wb-plus" aria-hidden="true"></i>
		</button>
	</a>
</div>
<div layout-footer></div>