<div layout-navbar></div>
<div layout-sidemenu></div>

<div class="page">
	<div layout-pagetitle></div>

	<div class="page-content container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="page-content-left">
					<h3>Aksi {{ title }}</h3>
					<p>Aksi yang terdapat pada {{ title }}:</p>
					<a href="#/kategori" ng-class="'{{ color }}'">
						<div class="button">
							<span>View Data</span>
							<button ng-class="'{{ color }}'" class="btn-raised btn btn-sm btn-floating" type="button">
								<i class="icon wb-eye" aria-hidden="true"></i>
							</button>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="panel">
					<div class="panel-heading">
						<h5 class="panel-title">{{ action }} {{ pagetitle }}</h5>
					</div>
					<div class="panel-body container-fluid">
						<form role="form" name="myForm" enctype="multipart/form-data" ng-repeat="data in kategori">
							<div class="form-group form-material">
								<label class="control-label" for="inputText">Nama Kategori</label>
								<input ng-model="kategori_nama" value="{{ data.kategori_nama }}" type="text" class="form-control input-sm" id="inputText" name="kategori_nama" placeholder="Masukan Nama Kategori" init-from-form required/>
								<span ng-show="myForm.kategori_nama.$dirty && myForm.kategori_nama.$invalid" class="help-inline">* Nama Kategori tidak boleh kosong</span>
							</div>
							<div class="form-group form-material">
								<label class="control-label" for="inputText">Icon</label>
								<input ng-model="kategori_icon" value="{{ data.kategori_icon }}" type="text" class="form-control input-sm" id="inputText" name="kategori_icon" placeholder="Icon in Ionicons" init-from-form required/>
								<span ng-show="myForm.kategori_icon.$dirty && myForm.kategori_icon.$invalid" class="help-inline">* Icon Kategori tidak boleh kosong</span>
							</div>
							<div class="form-group form-material">
								<label class="control-label" for="select">Warna Icon</label>
								<select ng-model="kategori_color" value="{{ data.kategori_color }}" class="form-control input-sm" name="kategori_color" init-from-form required>
									<option value="red">Red</option>
									<option value="yellow">Yellow</option>
									<option value="orange">Orange</option>
									<option value="green">Green</option>
									<option value="blue">Blue</option>
									<option value="purple">Purple</option>
									<option value="gray">Gray</option>
									<option value="black">Black</option>
								</select>
								<span ng-show="myForm.kategori_color.$dirty && myForm.kategori_color.$invalid" class="help-inline">* Warna Icon tidak boleh kosong</span>
								<input type="hidden" ng-model="kategori_id" value="{{ data.kategori_id }}" init-from-form>
							</div>
							<div class='button center'>
								<input ng-click="edit(kategori_id,kategori_nama,kategori_icon,kategori_color);" ng-disabled="myForm.$invalid" class="btn btn-primary btn-sm" type="submit" name="simpan" value="Update Data">
								<input class="btn btn-default btn-sm" type="reset" name="batal" value="Batalkan" ng-click="goBack()" />
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="#/kategori">
		<button ng-class="'{{ color }}'" class="site-action btn-raised btn btn-sm btn-floating" type="button">
			<i class="icon wb-eye" aria-hidden="true"></i>
		</button>
	</a>



</div>
<div layout-footer></div>